# example hosts config
all:
    hosts:
        10.202.8.222:
    vars:
        ansible_user: huke
        ansible_become_user: root
        ansible_become_password: 'example_password'
    children:
        k8s_leader:
            hosts:
                10.202.8.222:
        k8s_workers:
            hosts:
                10.202.8.212:
