[all]
lab1 ansible_ssh_host=192.168.0.141
lab2 ansible_ssh_host=192.168.0.142

[all:vars]
ansible_become=yes
ansible_user=kevin
ansible_become_password=43214321

[nfs]
lab1
lab2

[nfs_server]
lab1

[docker]
lab1
lab2

[k8s]
lab1
lab2

[k8s_leader]
lab1

[k8s_worker]
lab2

[cuda]
lab1
lab2
